<div class="container">
    <div class="email-image">
        <img
            src="assets/images/email-sent.png"
            width="150"
            alt="" />
    </div>
    <div class="title">
        Email confirmed
        <span class="subtitle">Your email has been successfully confirmed.</span>
        <span class="subtitle">
            Click continue to open login page
        </span>
    </div>
    <button
        class="btn-cont"
        color="primary"
        mat-raised-button
        [routerLink]="['/login']">
        Continue
    </button>
</div>
