@import '../../../../styles/mixins';

.container {
    @include flex-center-column();
    gap: 10px;
    max-width: 400px;
    width: 400px;
}

.btn-cont {
    //margin-top: 20px;
    width: 400px;
    height: 44px;
    border-radius: 12px;
}

:host .title {
    margin-bottom: 20px;
}

.title {
    text-align: center;
}
