@if ({ profile: profile$ | async }; as data) {
<div class="cover"></div>
<form
    class="content"
    [formGroup]="profileForm"
    (ngSubmit)="saveChanges()">
    <div class="avatar">
        <div class="container">
            <div class="image-container">
                <img
                    [src]="profileForm.controls.image.value ? profileForm.controls.image.value : defaultPhoto"  
                    height="200"
                    width="200" />
            </div>
            <div class="name-container">
                <div class="full-name">{{ data.profile?.firstName + ' ' + data.profile?.lastName }}</div>
            </div>
            <div class="actions">
                @if (!editMode) {
                <button
                    mat-raised-button
                    color="primary"
                    (click)="editMode = true">
                    <mat-icon>edit</mat-icon>
                    Edit Profile
                </button>
                } @else {
                <button
                    mat-raised-button
                    (click)="cancel()">
                    Cancel
                </button>
                <button
                    mat-raised-button
                    color="primary"
                    (click)="saveChanges()">
                    <mat-icon>edit</mat-icon>
                    Save
                </button>
                }
            </div>
        </div>
        <mat-divider />
    </div>
    <div class="wrapper">
        <div class="wrapper">
            <div class="wrapper-name">
                <div class="label">First Name</div>
                <mat-form-field appearance="outline">
                    <input
                        matInput
                        placeholder="First Name"
                        formControlName="firstName"
                        [readonly]="!editMode" />
                </mat-form-field>
            </div>
            <div class="wrapper-name">
                <div class="label">Last Name</div>
                <mat-form-field appearance="outline">
                    <input
                        matInput
                        placeholder="Last Name"
                        formControlName="lastName"
                        [readonly]="!editMode" />
                </mat-form-field>
            </div>
            <div class="wrapper-field">
                <mat-divider />
                <app-image-upload
                    formControlName="image"
                    [readonly]="!editMode" />
                <mat-divider />
            </div>
            <div class="wrapper-field">
                <div class="label">Email</div>
                <mat-form-field appearance="outline">
                    <input
                        matInput
                        placeholder="Email"
                        formControlName="email"
                        [readonly]="!editMode" />
                </mat-form-field>
                <mat-divider />
            </div>
            <div class="wrapper-field">
                <div class="label">Phone</div>
                <mat-form-field appearance="outline">
                    <input
                        matInput
                        placeholder="Phone"
                        formControlName="phone"
                        [readonly]="!editMode" />
                </mat-form-field>
            </div>
        </div>
    </div>
</form>
}
