<div class="header">
    <header>
        <a
            class="header-logo"
            href=""
            target="_self">
            <img
                class="logo"
                src="assets/images/snail.png"
                alt=""
                width="50" />
        </a>
        <form action="">
            <app-search-bar />
        </form>
        <div class="login-actions"></div>
    </header>
    <nav>
        <div class="navigation">
            <a
                href=""
                class="nav-tab">
                <div>Search</div>
            </a>
            <a
                href=""
                class="nav-tab">
                <div>Images</div>
            </a>
            <a
                href=""
                class="nav-tab">
                <div>Video</div>
            </a>
            <a
                href=""
                class="nav-tab">
                <div>Map</div>
            </a>
        </div>
    </nav>
</div>
<div class="header-placeholder"></div>
