<div class="header">
    <header>
        <a
            class="header-logo"
            href=""
            target="_self">
            <img
                class="logo"
                src="assets/images/logo.png"
                alt=""
                width="50" />
        </a>
        <app-search-bar [query]="query$ | async" />
        <div class="spacer"></div>
        <div class="login-actions">
            @if ({ user: currentUser$ | async }; as data) {
            <app-right-menu
                [authenticated]="(authenticated$ | async) ?? false"
                [user]="data.user"
                [imageUrl]="data.user?.image"
                (logout)="logout()" />
            }
        </div>
    </header>
</div>
<div class="header-placeholder"></div>
