.right-buttons,
.user-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-info {
    display: flex;
    flex-direction: column;
    padding: 0 16px;

    .name {
        font-weight: bold;
    }
}

.user-image,
.user-image-container {
    border-radius: 100%;
    object-fit: cover;
}
