<div class="right-buttons">
    @if (authenticated) {
    <button
        mat-icon-button
        [matMenuTriggerFor]="header_menu">
        <mat-icon>menu</mat-icon>
    </button>
    } @else {
    <button
        mat-raised-button
        [routerLink]="['/login']">
        Login
    </button>
    }
</div>

<mat-menu #header_menu>
    <div class="user-image-container">
        <img
            class="user-image"
            [src]="imageUrl"
            [width]="size"
            [height]="size"
            alt="" />
    </div>
    <div class="user-info">
        <span class="name">{{ user?.username }}</span>
        <span class="user-name">{{ user?.email }}</span>
    </div>
    <mat-divider />
    @for (item of menuItems; track $index) {
    <button
        mat-menu-item
        [routerLink]="[item.route]">
        <mat-icon>{{ item.icon }}</mat-icon>
        {{ item.label }}
    </button>
    }
    <button
        mat-menu-item
        (click)="onOpenCrawlerDialog()">
        <mat-icon>bug_report</mat-icon>
        Crawler
    </button>
    <button
        mat-menu-item
        (click)="logout.emit()">
        <mat-icon>logout</mat-icon>
        Logout
    </button>
</mat-menu>
