.right-buttons,
.user-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-info {
    display: flex;
    flex-direction: column;
    padding: 0 16px;

    .name {
        font-weight: bold;
    }
}
