:host {
    .mat-mdc-dialog-content {
        padding-top: 8px;
        padding-bottom: 0;
    }

    .mat-mdc-dialog-actions {
        justify-content: center;
    }
}

.mat-mdc-form-field {
    width: 100%;
}
