<div>
    <img
        class="snail"
        src="../../../../assets/images/snail.png"
        width="180" />
</div>
<form
    class="login-form"
    [formGroup]="form"
    (ngSubmit)="onSubmit()">
    <h1 class="title">Create account</h1>
    <div class="content">
        <mat-form-field appearance="outline">
            <input
                type="text"
                matInput
                placeholder="First Name"
                formControlName="firstName" />
            <mat-error *ngIf="form.controls['firstName'].errors?.['required']">Name is required</mat-error>
        </mat-form-field>
        <br />
        <mat-form-field appearance="outline">
            <input
                type="text"
                matInput
                placeholder="Last Name"
                formControlName="lastName" />
            <mat-error *ngIf="form.controls['lastName'].errors?.['required']">Name is required</mat-error>
        </mat-form-field>
        <br />
        <br />
        <mat-form-field appearance="outline">
            <input
                type="email"
                matInput
                placeholder="Email"
                formControlName="email" />
            <mat-error *ngIf="form.controls['email'].errors?.['email']">Field is incorrect</mat-error>
            <mat-error *ngIf="form.controls['email'].errors?.['required']">Name is required</mat-error>
        </mat-form-field>
        <br />
        <mat-form-field appearance="outline">
            <input
                type="password"
                matInput
                placeholder="Password"
                formControlName="password" />
            <mat-error *ngIf="form.controls['password'].errors?.['required']">Password is required</mat-error>
        </mat-form-field>
    </div>
    <div class="actions">
        <button
            mat-raised-button
            color="primary">
            Register
        </button>
        <a
            class="rel-link"
            routerLink="/login">
            I have an account
        </a>
    </div>
</form>
