:host {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    z-index: 2;
    box-sizing: border-box;
    background-color: ghostwhite;
    border-bottom: 1px solid #cccccc;
    padding: 0.5rem 1.7rem 0 1.6rem;
    height: 4.2rem;
}
