:host {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 76px;
}

.shortcut {
    margin: 10px;
    border-radius: 8px;
    background: gainsboro;

    &.add {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid;
        font-weight: bold;
        user-select: none;
    }

    img {
        width: 200px;
        height: 66px;
    }
}
