:host {
    display: flex;
    padding: 12px;
    border-radius: 16px;
    box-shadow: 0 4px 12px 0#0d234308;
    background-color: ghostwhite;
    flex: 1;
}

.job-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.info {
    flex: 3;
    overflow: hidden;
}

.url {
    font-size: 22px;
    line-height: 40px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 50vw;
}

.info-progress {
    font-size: 16px;
}

.progress-circle {
    width: 100px;
}

.status-wrapper {
    flex: 1;
}

.status {
    background-color: lavenderblush;
    padding: 6px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    text-wrap: nowrap;
    margin: 0 4px;

    &.pending {
        background-color: #b2adf1;
        color: #2e2ead;
    }

    &.in-progress {
        background-color: #c49b5f;
        color: #6c4c0d;
    }

    &.scraped {
        background-color: #a5ecba;
        color: #0e5a25;
    }

    &.canceled {
        background-color: #e5e5e5;
        color: rgb(70, 65, 65);
    }

    &.error {
        background-color: #ee748a;
        color: rgb(131, 22, 22);
    }
}

.hidden {
    visibility: hidden;
}

@media screen and (max-width: 720px) {
    .url {
        font-size: 18px;
        max-width: 50vw;
    }
    .info-progress {
        font-size: 12px;
    }

    .desctop-text {
        display: none;
    }

    :host {
        padding: 4px;
    }

    .progress-circle {
        width: 80px;
    }

}

@media screen and (max-width: 480px) {
    .url {
        font-size: 14px;
    }

    .info-progress {
        font-size: 10px;
    }

    .status {
        font-size: 10px;
    }

}
