<div class="container">
    <div class="email-image">
        <img
            src="assets/images/email-sent.png"
            alt="" />
    </div>
    <h1 class="main-text">Confirm your email!</h1>
    <span class="description-text">
        Your account has been successfully registered. To complete the process please check your email for a validation request.
        <!-- <a href="https://lobach.stanislav@inbox.ru">click</a> -->
    </span>
    <button
        class="btn-cont"
        color="primary"
        mat-raised-button
        [routerLink]="['/login']">
        Continue
    </button>
</div>
