<div class="container">
    <div class="email-image">
        <img
            src="assets/images/email-sent.png"
            width="200"
            alt="" />
    </div>
    <div class="title">
        Check your email
        <span class="subtitle">
            Your account has been successfully registered. We sent a verification link to
            <b>{{ email }}</b>
        </span>
    </div>
    <button
        class="btn-cont"
        color="primary"
        mat-raised-button
        [routerLink]="['/login']">
        Back to login
    </button>
</div>
