:host,
form,
.banner,
.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

:host,
form {
    margin: 0 50px;
    gap: 80px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

:host {
    margin-top: 50px;
}

.banner {
    flex-direction: column;
    justify-content: start;
    gap: 50px;
    max-width: 400px;
}

.image-container {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 1px solid black;
}

.avatar {
    border-radius: 100%;
    object-fit: cover;
}

.content {
    flex-grow: 2.5;
    flex-direction: column;
    gap: 10px;
    max-width: 800px;

    > * {
        width: 100%;
    }
}

.mat-mdc-form-field {
    width: 100%;
}

.actions {
    flex-basis: 100%;
}

.label {
    font-size: 24px;
    line-height: 40px;
}
