<form
    [formGroup]="profileForm"
    (ngSubmit)="saveChanges()">
    <div class="banner">
        <div class="label">Edit Profile</div>
        <div class="image-container">
            <img
                class="avatar"
                [src]="profileImage"
                width="200"
                height="200" />
        </div>
        <div class="actions">
            <button
                mat-raised-button
                (click)="onOpenUploadDialog()">
                <mat-icon>edit</mat-icon>
                @if (profileForm.controls.image) { Edit Profile Image } @else { Add Profile Image }
            </button>
        </div>
    </div>
    <mat-divider
        vertical
        [ngStyle]="{ height: '550px' }"></mat-divider>
    <div class="content">
        <div class="name">
            <div class="label">Personal Information:</div>
            <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input
                    matInput
                    placeholder="First Name"
                    formControlName="firstName" />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input
                    matInput
                    placeholder="Last Name"
                    formControlName="lastName" />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input
                    matInput
                    placeholder="Username"
                    formControlName="username" />
            </mat-form-field>
        </div>
        <div class="bio">
            <mat-form-field appearance="outline">
                <mat-label>Bio</mat-label>
                <textarea
                    matInput
                    placeholder="Bio"
                    formControlName="bio"></textarea>
            </mat-form-field>
        </div>
        <div class="info">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input
                    matInput
                    placeholder="Email"
                    formControlName="email" />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Phone</mat-label>
                <input
                    matInput
                    placeholder="Phone"
                    formControlName="phone" />
            </mat-form-field>
        </div>
    </div>
    <div class="actions">
        <button
            color="primary"
            mat-raised-button
            type="submit">
            Save
        </button>
    </div>
</form>
