:host {
}

.serp {
    overflow: scroll;
    overflow-x: hidden;
    height: calc(100vh - 183px);
}

.main {
    min-width: 600px;
    min-height: 100%;
    margin-top: -183px;
    padding-top: 183px;
    padding-bottom: 6px;
    position: relative;
    box-sizing: border-box;
}

.main-center {
    margin-left: 84px;
    padding-top: 15px;
    padding-left: 16px;
}

.main-container {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-left: -100px;
    padding-left: 100px;
}

.content-left {
    width: 568px;
}

.content-right {
    width: calc(100% - 716px);
    min-width: 292px;
    max-width: 1280px;
    margin-left: 18px;
}

@media (min-width: 1560px) {
    .content-right {
        width: calc(100% - 837px);
        max-width: 1280px;
        margin-left: 68px;
    }
}

.loading {
    display: flex;
    justify-content: center;
}
