:host {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.spacer {
    height: 10vh;
    position: relative;
}

.snail {
    width: 126px;
    max-width: 126px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 70vw;
    max-width: 800px;
    height: 600px;
    background: linear-gradient(#d6d6d680, #ECECEC00);
    border-radius: 33px;
}
