:host {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.spacer {
    height: 20vh;
    position: relative;
}

.snail {
    width: 126px;
}
