<ng-container *ngIf="{ profile: profile$ | async } as data">
    <div class="banner">
        <div class="container">
            <img
                alt="avatar"
                class="avatar"
                [src]="data.profile?.image"
                width="200" />
        </div>
        <div class="actions">
            <button
                mat-raised-button
                (click)="editProfile()">
                <mat-icon>edit</mat-icon>
                Edit Profile
            </button>
        </div>
    </div>
    <div class="content">
        <div class="name">
            <div class="label">Personal Information:</div>
            <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input
                    matInput
                    placeholder="First Name"
                    [ngModel]="data.profile?.firstName" />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input
                    matInput
                    placeholder="Last Name" />
            </mat-form-field>
        </div>
        <div class="bio">
            <mat-form-field appearance="outline">
                <mat-label>Bio</mat-label>
                <textarea
                    matInput
                    placeholder="Bio"
                    [ngModel]="data.profile?.bio"></textarea>
            </mat-form-field>
        </div>
        <div class="info">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input
                    matInput
                    placeholder="Email" />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Phone</mat-label>
                <input
                    matInput
                    placeholder="Phone" />
            </mat-form-field>
        </div>
    </div>
</ng-container>
