<app-header />
<nav
    mat-tab-nav-bar
    ngClass="tabs"
    [tabPanel]="tabPanel">
    <a
        mat-tab-link
        routerLink="./view"
        routerLinkActive="active-link">
        <!-- <mat-icon>home</mat-icon> -->
        <span class="nav-caption">General</span>
    </a>
    <a
        mat-tab-link
        routerLink="./jobs"
        routerLinkActive="active-link">
        <!-- <mat-icon>account_balance</mat-icon> -->
        <span class="nav-caption">Jobs Info</span>
    </a>
</nav>
<mat-tab-nav-panel #tabPanel>
    <router-outlet></router-outlet>
</mat-tab-nav-panel>
