:host {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.active-link {
    border-bottom: 2px solid;
}

:host nav .mat-mdc-tab-link {
    flex-grow: 0;
}

mat-tab-nav-panel {
    max-width: 1500px;
    width: 100%;
}

nav {
    margin-top: 10px;
}
