:host,
.search-container {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 50vh;
    position: relative;

    &.focused {
        border: 2px solid #000;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    }
}


.search-container {
    padding: 8px 16px;
    background-color: #c1c5d0;
}

.search-input {
    all: initial;
    font-size: 20px;
    width: 600px;
    border: none;
    background-color: transparent;
}

.search-icon {
    margin: 0 8px;
}
