$height: 42px;

form {
    display: flex;
    align-items: center;
    gap: 4px;
}

.mat-mdc-form-field {
    height: $height;
    width: 55vw;
    max-width: 600px;

    ::ng-deep {
        .mat-mdc-text-field-wrapper,
        .mat-mdc-form-field-flex {
            height: $height;
        }

        .mat-mdc-form-field-subscript-wrapper {
            display: none;
        }

        .mat-mdc-form-field-infix {
            padding-top: 10px;
        }
    }
}

.search-btn {
    width: 6vw;
    min-width: unset;
    max-width: 80px;
    height: $height;

    .mat-icon {
        width: unset;
        height: unset;
        margin: 0;
        font-size: 24px;
        overflow: visible;
    }
}
