:host,
.search-container {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 50vh;
}

.search-container {
    padding: 8px;
    background-color: #c1c5d0;
}

.search-input {
    all: initial;
    font-size: 20px;
    width: 600px;
    border: none;
    background-color: transparent;
}

.search-icon {
    margin: 0 8px;
}
