<form
    [formGroup]="searchForm"
    (ngSubmit)="search()">
    <mat-form-field appearance="outline">
        <input
            #input
            matInput
            autofocus
            autocomplete="true"
            [formControl]="searchControl"
            placeholder="Search..."
            (focus)="focused = true"
            (blur)="focused = false" />
        <button
            class="clear-btn"
            type="button"
            mat-icon-button
            matSuffix
            [style.visibility]="searchControl.value ? 'visible' : 'hidden'"
            (click)="searchControl.setValue(''); input.focus()">
            <mat-icon>clear</mat-icon>
        </button>
    </mat-form-field>
    <button
        class="search-btn"
        type="submit"
        mat-raised-button
        color="primary"
        (click)="search()">
        <mat-icon class="search-icon">search</mat-icon>
    </button>
</form>
